<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Creador/es</th>
        <th>Grupo</th>
        <th>Estado</th>
        <th>Accion</th>


    </tr>
    </thead>
    <a class="badge badge-primary" th:href="@{/admin/index}">Volver</a><br>
    <a class="badge badge-primary"  th:href="@{/logout}">Cerrar sesión</a><br>
    <tbody>
    <tr th:each="mat : ${materiales}">
        <td th:text="${mat.getNombre()}"></td>
        <td th:text="${mat.getDescripcion()}"></td>
        <td th:text="${mat.getCreadores()}"></td>
        <td th:text="${mat.getGrupo()}"></td>
        <td th:text="${mat.getEstado()}"></td>
        <td><a th:href="@{/admin/{id}/material(id=${mat.id})}">Ver material</a></td>
        <td><a th:href="@{/admin/{id}/aprobar(id=${mat.id})}">Aprobar</a></td>
        <td><a th:href="@{/admin/{id}/rechazar(id=${mat.id})}">Rechazar</a></td>

    </tr>
    </tbody>
</table>
</body>
</html>