<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido</title>
</head>
<body>

<div><h3>Administrador de Material Educativos</h3></div>

<fieldset>
    <div><h4>Usuario:</h4> <td th:text="${usuario.getNombre()}"></td>
    <h4>Rol:</h4> <td th:text="${usuario.getTipo()}"></td></div>

    <div><h4>Opciones</h4></div>

    <a class="badge badge-primary" th:href="@{/users/materialcargado}">Ver Materiales</a><br>
    <a class="badge badge-primary" th:href="@{/users/material}">Cargar materiales</a><br>
    <a class="badge badge-primary" th:href="@{/#}">Salir del Sistema</a><br>
    <a class="badge badge-primary"  th:href="@{/logout}">Cerrar sesión</a><br>

</fieldset>
</body>
</html>